PYTHONPATH=C:\Users\c-fitflora\.virtualenvs\eyeTracker-zms-KUX92ohg\Scripts\python.exe

# pyversion=3.8.2 # your python version
# pyMajor=3.8
# use_python ${pyversion}
# layout_poetry
# PYTHONPATH=$VIRTUAL_ENV"/lib/python"$pyMajor"/site-packages/"
